In [1]:
# load and summarize the housing dataset
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
import numpy as np

# load dataset
#url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv'
metacritic = pd.read_csv(('..//metacritic_vader_2.csv'))
# summarize shape
print(metacritic.shape)
# summarize first few lines
print(metacritic.head())

(964, 7)
   Unnamed: 0     imDbId       title          fullTitle  year  \
0           0  tt1877830  The Batman  The Batman (2022)  2022
1           1  tt1877830  The Batman  The Batman (2022)  2022
2           2  tt1877830  The Batman  The Batman (2022)  2022
3           3  tt1877830  The Batman  The Batman (2022)  2022
4           4  tt1877830  The Batman  The Batman (2022)  2022

                                               items  sentiment_score
0  {'publisher': 'IGN', 'author': '', 'link': '',...             0.48
1  {'publisher': 'Slashfilm', 'author': 'Chris Ev...             0.00
2  {'publisher': 'TheWrap', 'author': 'Todd Gilch...             0.59
3  {'publisher': 'Consequence', 'author': 'Liz Sh...             0.90
4  {'publisher': 'Screen Rant', 'author': 'Mae Ab...             0.68

In [2]:
imdb = read_csv('..//ratings_clean.csv')
data = metacritic.merge(imdb, on =['imDbId', 'year', 'title', 'fullTitle'])
data

,Unnamed: 0,imDbId,title,fullTitle,year,items,sentiment_score,type,imDb
0,0,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'IGN', 'author': '', 'link': '',...",0.48,Movie,8.2
1,1,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Slashfilm', 'author': 'Chris Ev...",0.00,Movie,8.2
2,2,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'TheWrap', 'author': 'Todd Gilch...",0.59,Movie,8.2
3,3,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Consequence', 'author': 'Liz Sh...",0.90,Movie,8.2
4,4,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Screen Rant', 'author': 'Mae Ab...",0.68,Movie,8.2
...,...,...,...,...,...,...,...,...,...
989,959,tt1386697,Suicide Squad,Suicide Squad (2016),2016,"{'publisher': 'Screen Daily', 'author': 'Tim G...",-0.00,Movie,5.9
990,960,tt1386697,Suicide Squad,Suicide Squad (2016),2016,"{'publisher': 'The Hollywood Reporter', 'autho...",-0.83,Movie,5.9
991,961,tt1386697,Suicide Squad,Suicide Squad (2016),2016,"{'publisher': 'The Telegraph', 'author': 'Robb...",-0.45,Movie,5.9
992,962,tt1386697,Suicide Squad,Suicide Squad (2016),2016,"{'publisher': 'IndieWire', 'author': 'David Eh...",-0.67,Movie,5.9
993,963,tt1386697,Suicide Squad,Suicide Squad (2016),2016,"{'publisher': 'ScreenCrush', 'author': 'Matt S...",0.00,Movie,5.9

In [3]:
wordembed = read_csv('..//doc_reduction.csv')
dataset = data.merge(wordembed)

In [4]:
dataset.head()

,Unnamed: 0,imDbId,title,fullTitle,year,items,sentiment_score,type,imDb,0,...,90,91,92,93,94,95,96,97,98,99
0,0,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'IGN', 'author': '', 'link': '',...",0.48,Movie,8.2,-0.141278,...,0.384271,0.053703,0.133402,0.038676,0.356207,0.240899,0.119453,-0.215866,-0.052767,0.005125
1,1,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Slashfilm', 'author': 'Chris Ev...",0.00,Movie,8.2,-0.141278,...,0.384271,0.053703,0.133402,0.038676,0.356207,0.240899,0.119453,-0.215866,-0.052767,0.005125
2,2,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'TheWrap', 'author': 'Todd Gilch...",0.59,Movie,8.2,-0.141278,...,0.384271,0.053703,0.133402,0.038676,0.356207,0.240899,0.119453,-0.215866,-0.052767,0.005125
3,3,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Consequence', 'author': 'Liz Sh...",0.90,Movie,8.2,-0.141278,...,0.384271,0.053703,0.133402,0.038676,0.356207,0.240899,0.119453,-0.215866,-0.052767,0.005125
4,4,tt1877830,The Batman,The Batman (2022),2022,"{'publisher': 'Screen Rant', 'author': 'Mae Ab...",0.68,Movie,8.2,-0.141278,...,0.384271,0.053703,0.133402,0.038676,0.356207,0.240899,0.119453,-0.215866,-0.052767,0.005125

In [5]:
ex = dataset.groupby(['imDbId','title']).mean()
ex = ex.drop(['Unnamed: 0','year'], axis = 1)
ex.head()

,,sentiment_score,imDb,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
imDbId,title,,,,,,,,,,,,,,,,,,,,,
tt0451279,Wonder Woman,0.555,7.4,-0.028568,0.054156,0.001724,0.017337,0.018928,-0.070442,0.025169,0.106089,...,0.092024,0.006757,0.033801,0.016057,0.083564,0.053319,0.030094,-0.051786,-0.013009,-0.000273
tt0870154,Jungle Cruise,0.626,6.6,-0.020787,0.043177,-0.001567,0.020637,0.004898,-0.050922,0.016218,0.071488,...,0.061267,0.016949,0.022872,0.001438,0.070665,0.043779,0.020181,-0.030818,-0.013960,0.004204
tt0974015,Justice League,0.519,6.1,-0.022020,0.029992,0.000049,0.013619,0.008935,-0.050710,0.017899,0.063337,...,0.057290,0.005288,0.016406,0.012495,0.044413,0.028252,0.013060,-0.045285,-0.006964,-0.006046
tt1070874,The Trial of the Chicago 7,0.273,7.7,-0.066886,0.106224,0.016620,0.062157,0.036521,-0.170192,0.061907,0.242479,...,0.195614,0.044438,0.078722,0.027435,0.208348,0.132558,0.065598,-0.111773,-0.024694,0.002019
tt10838180,The Matrix Resurrections,0.009,5.7,-0.025165,0.026692,-0.003870,-0.000133,0.012202,-0.049759,0.029350,0.070549,...,0.057389,0.006889,0.011367,0.006340,0.041136,0.030643,0.013884,-0.038242,-0.024434,-0.002159

In [10]:
from sklearn import datasets
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn import metrics

y = ex.imDb
X = ex.drop(columns = ['imDb'])
#print(X.head())
#
# Create training and test split
#
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#print(X_train)
# Create an instance of Lasso Regression implementation
#
lasso = Lasso(alpha=0.1)
#
# Fit the Lasso model
#
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)
#
# Create the model score
print(lasso.coef_)
print(lasso.intercept_)
print(lasso.score(X_test, y_test), lasso.score(X_train, y_train))
print(metrics.mean_absolute_error(y_test,y_pred))

[ 0. -0.  0.  0.  0.  0. -0.  0.  0. -0. -0. -0. -0.  0.  0.  0. -0.  0.
 -0. -0. -0.  0.  0.  0. -0.  0.  0. -0.  0. -0. -0.  0. -0.  0. -0. -0.
  0.  0. -0. -0. -0. -0. -0. -0. -0.  0. -0. -0.  0.  0.  0.  0. -0. -0.
 -0. -0. -0.  0.  0. -0.  0. -0.  0.  0.  0. -0.  0. -0.  0. -0.  0.  0.
  0.  0.  0.  0.  0.  0. -0. -0.  0. -0. -0. -0.  0. -0. -0.  0. -0.  0.
  0.  0.  0.  0.  0.  0.  0.  0. -0. -0.  0.]
7.044594594594594
-0.013774075552480003 0.0
0.8414651493598866

In [11]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
print(reg.coef_)
print(reg.intercept_)
y_pred = reg.predict(X_test)
print(metrics.mean_absolute_error(y_test, y_pred))
print(reg.score(X_train, y_train)

[ 3.12500000e+00  2.35194338e+01 -8.63473334e+00  4.92465460e+01
 -4.22303140e+01 -1.88600419e+01  4.95683732e+01 -8.59525055e+00
 -6.11171805e+01 -3.18056908e+01 -2.96084756e+01  1.97075901e+01
 -7.05943079e+01 -1.55734940e+01 -1.27308431e+01  3.30314720e+01
 -3.86033214e+01  2.66382146e+01 -2.95826116e+00  6.88052974e+00
  1.65279688e+01  5.06392518e+00 -3.42497481e-01 -5.55623677e+00
  1.65450282e+01 -1.67707931e+01 -4.17823947e+01 -4.84103035e+01
  4.93541539e+01  6.64499401e+00  4.34397379e+01 -2.85059142e+01
 -4.81923972e+01 -1.75260738e+01 -5.69000575e+00  6.23433137e+01
  7.84165129e+00 -9.60289108e+00  2.59587272e+01  5.72413172e-02
 -3.92950216e+00 -2.94059379e+00  1.57797404e+00 -1.36826447e+01
  1.79787564e+01  4.49288691e+00  7.07994793e+01 -2.31873828e+01
  3.17319899e+01  1.04041033e+01  4.22226569e+01  2.42294785e+01
 -5.27329477e+00  1.91165769e+01 -7.54337424e+00 -2.75388539e+01
  8.72696936e+00  4.92450509e+01 -2.85490160e+01  6.64410017e+01
 -9.74654537e+00  8.30336451e+01  1.01458552e+01 -2.45788556e+01
 -4.87722474e+01 -4.87248533e+00 -5.28918708e+01 -4.25069830e+01
 -4.23033721e+01  2.44117292e+01  4.10509894e+01  3.99954123e+01
 -1.11607192e+01 -1.38701568e+01 -9.60360153e+00 -4.96718677e+01
 -2.12788974e+01  1.32317017e+01  4.07772020e+00 -6.20847698e+01
 -1.39201911e+01 -3.32079401e+00  2.44777010e+01 -9.10728453e-01
  1.93380854e+01 -8.03000147e+01 -1.35235288e+01  6.93128088e-01
 -4.07192090e+01 -4.07123472e+01  6.25452177e+00  1.34231103e+01
  8.69089466e+00  8.26325589e+01 -2.08068229e+01 -6.42035232e+01
  4.29189843e+01  8.60056267e+01 -3.96727877e+01 -6.20343922e+01
  1.02588901e+01]
6.025936744785811
1.4782564219151848

1.0

In [9]:
y_pred = reg.predict(X)
plt.scatter(X['compound'], y, color="blue", linewidth=3)
z = np.polyfit(X['compound'], y, 1)
p = np.poly1d(z)
plt(X['compound'],p(X[]),"r--")
plt.xticks(())
plt.yticks(())

plt.show()

SyntaxError: invalid syntax (Temp/ipykernel_4440/1753976388.py, line 5)

In [ ]:
np.reshape()